diggity-ai-seo-fixed.json
{
  "name": "Diggity AI SEO - Working Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "webhookReceived",
        "httpMethod": "POST",
        "path": "diggity-ai-seo",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Start Workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 400],
      "webhookId": "diggity-ai-seo"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{ $json.log_file_url }}",
        "options": {
          "headers": {
            "Authorization": "Bearer {{ $json.api_key }}"
          }
        }
      },
      "id": "fetch-logs",
      "name": "Fetch Server Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Analyze these server log files and identify bot crawl patterns. Focus on:\n\n1. Analyze hits from AI bots (GPTBot, ChatGPT-User, Google-Extended, CCBot, anthropic-ai, Claude-Web)\n2. Create a summary of crawl frequency for each bot type\n3. List the pages with the fewest bot hits (need more internal links)\n4. List the pages with the most bot hits (performing well)\n5. Highlight any crawl errors or 404s\n6. Identify patterns in bot behavior\n\nServer logs to analyze:\n{{ $('Fetch Server Logs').item.json.body }}\n\nProvide specific actionable recommendations in JSON format with exact page URLs and bot statistics."
      },
      "id": "ai-log-analysis",
      "name": "AI Log Analysis - Step 1",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [520, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Based on the log analysis, generate internal linking recommendations. For each page with low bot crawl rates, suggest:\n\n1. Which high-performing pages should link to it\n2. Exact anchor text to use\n3. Where in the content to place the link  \n4. SEO rationale for the link\n\nLog analysis data:\n{{ $('AI Log Analysis - Step 1').item.json.content }}\n\nReturn a JSON array of specific internal linking actions to take."
      },
      "id": "internal-links",
      "name": "Generate Internal Links",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [740, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Generate structured data markup for this content. Create JSON-LD schema for:\n\n1. Article Schema - with headline, author, datePublished, dateModified\n2. BlogPosting Schema - with mainEntityOfPage, image, publisher\n3. HowTo Schema - if the content is instructional (include steps)\n4. FAQPage Schema - if there are Q&A sections\n\nContent to analyze:\n{{ $('Start Workflow').item.json.content }}\n\nReturn valid JSON-LD markup that can be directly embedded in the page <head>. Ensure all required properties are included according to schema.org standards."
      },
      "id": "schema-generator", 
      "name": "Generate Schema Markup - Step 2",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [300, 500]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Validate this JSON-LD schema markup and provide feedback:\n\n1. Check syntax and structure\n2. Verify required properties are present\n3. Ensure schema.org compliance\n4. Suggest improvements if needed\n\nSchema markup to validate:\n{{ $('Generate Schema Markup - Step 2').item.json.content }}\n\nReturn validation results and any recommended fixes."
      },
      "id": "validate-schema",
      "name": "Validate Schema Markup", 
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [520, 500]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Optimize this content for multimodal AI understanding. Analyze and suggest improvements for:\n\n1. Content Structure - headers, paragraphs, lists\n2. Visual Elements - where to add images, charts, tables\n3. Machine-Readable Formats - data tables, structured lists\n4. Text-Visual Relationships - how text should reference visuals\n5. AI-Friendly Formatting - clear sections, semantic markup\n\nContent to optimize:\n{{ $('Start Workflow').item.json.content }}\n\nProvide specific recommendations with examples of how to implement each suggestion."
      },
      "id": "multimodal-optimization",
      "name": "Multimodal Content Optimization - Step 3",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [300, 700]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Based on all the analysis, identify technical SEO fixes needed:\n\n1. 404 Errors - from the log analysis, list any 404s that need fixing\n2. Content Quality Issues - pages that need content improvements\n3. Indexability Problems - pages that bots can't access properly\n4. Internal Link Gaps - pages that need more internal link equity\n\nAnalysis data:\nLog Analysis: {{ $('AI Log Analysis - Step 1').item.json.content }}\nInternal Links: {{ $('Generate Internal Links').item.json.content }}\nSchema Validation: {{ $('Validate Schema Markup').item.json.content }}\nContent Analysis: {{ $('Multimodal Content Optimization - Step 3').item.json.content }}\n\nProvide a prioritized action plan with specific technical fixes."
      },
      "id": "technical-fixes",
      "name": "Technical SEO Fixes - Step 4",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [960, 500]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "Create a comprehensive implementation report based on all the analysis. Include:\n\n1. Executive Summary - key findings and expected impact\n2. Log Analysis Summary - bot crawl patterns and issues found\n3. Schema Implementation - what markup was generated and validation status\n4. Content Optimization - specific multimodal improvements\n5. Technical Fixes - prioritized action items\n6. Internal Linking Strategy - specific link recommendations\n7. Expected Results - based on the 1,400% growth case study methodology\n8. Implementation Timeline - step-by-step action plan\n\nData from all analysis steps:\nLog Analysis: {{ $('AI Log Analysis - Step 1').item.json.content }}\nInternal Links: {{ $('Generate Internal Links').item.json.content }}\nSchema: {{ $('Generate Schema Markup - Step 2').item.json.content }}\nSchema Validation: {{ $('Validate Schema Markup').item.json.content }}\nContent Optimization: {{ $('Multimodal Content Optimization - Step 3').item.json.content }}\nTechnical Fixes: {{ $('Technical SEO Fixes - Step 4').item.json.content }}\n\nFormat as a detailed action plan that can be immediately implemented."
      },
      "id": "final-report",
      "name": "Generate Implementation Report",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1.3,
      "position": [1180, 500]
    },
    {
      "parameters": {
        "url": "={{ $('Start Workflow').item.json.results_webhook }}",
        "httpMethod": "POST",
        "sendQuery": false,
        "sendHeaders": true,
        "sendBody": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "bodyContent": "{\n  \"workflow_completed\": true,\n  \"log_analysis\": {{ JSON.stringify($('AI Log Analysis - Step 1').item.json.content) }},\n  \"internal_links\": {{ JSON.stringify($('Generate Internal Links').item.json.content) }},\n  \"schema_markup\": {{ JSON.stringify($('Generate Schema Markup - Step 2').item.json.content) }},\n  \"schema_validation\": {{ JSON.stringify($('Validate Schema Markup').item.json.content) }},\n  \"content_optimization\": {{ JSON.stringify($('Multimodal Content Optimization - Step 3').item.json.content) }},\n  \"technical_fixes\": {{ JSON.stringify($('Technical SEO Fixes - Step 4').item.json.content) }},\n  \"implementation_report\": {{ JSON.stringify($('Generate Implementation Report').item.json.content) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "send-results",
      "name": "Send Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 500]
    }
  ],
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Fetch Server Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Schema Markup - Step 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Multimodal Content Optimization - Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Server Logs": {
      "main": [
        [
          {
            "node": "AI Log Analysis - Step 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Log Analysis - Step 1": {
      "main": [
        [
          {
            "node": "Generate Internal Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Internal Links": {
      "main": [
        [
          {
            "node": "Technical SEO Fixes - Step 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Schema Markup - Step 2": {
      "main": [
        [
          {
            "node": "Validate Schema Markup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Schema Markup": {
      "main": [
        [
          {
            "node": "Technical SEO Fixes - Step 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Multimodal Content Optimization - Step 3": {
      "main": [
        [
          {
            "node": "Technical SEO Fixes - Step 4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Technical SEO Fixes - Step 4": {
      "main": [
        [
          {
            "node": "Generate Implementation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Implementation Report": {
      "main": [
        [
          {
            "node": "Send Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "diggity-ai-seo",
      "name": "Diggity AI SEO"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}